<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">
body{
	overflow: hidden;
}
 .slider {
 z-index:1;
 opacity: 0.6;
 overflow: hidden;  
 top: 70px ;
 left: 0;
 width: 100%;
 height: 100%;
 position: absolute;
 background-size: cover;
 background-position: center;
 background-image:url("/css/background.jpg");
}
</style>
</head>
<body>
<div layout:fragment="content" >
<div class = "slider" >
<h1 style="margin-left: 45%; margin-top: 10%; font-size: 50px;font-family: 'GmarketSans'; font-weight: bold; color:black; opacity: 1.0;">LOGIN</h1>
<form action="/user/login" method="post" th:object="${loginCommand}">
	<table class="table" style=" position:absolute; width:50%; font-family: 'GmarketSans'; margin-top:7%; margin-left: 34%;  font-size: 30px; width: 500px;">
		<tr>
			<th style="width: 200px;" >ID:</th>
			<td >
				<input type="text" style="width: 400px; border-radius:20px;"class="form-control"
				      name="id" th:field="*{id}" />
				<span  style=" font-size: 20px;" th:if="${#fields.hasErrors('id')}"
				      th:errors="*{id}"></span>          
			</td>
		</tr>
		<tr>
			<th>PASSWORD:</th>
			<td>
				<input type="password" style="width: 400px; border-radius:20px;"class="form-control"
				      name="password" th:field="*{password}" />
				<span style=" font-size: 20px;"th:if="${#fields.hasErrors('password')}"
				      th:errors="*{password}"></span>      
				  <span  style=" font-size: 20px;" th:text="${msg}"></span> 
			</td>
		</tr>
		<tr>
			<td colspan="2">
				  <input type="submit"  style="margin-left: 33%; width: 200px;	font-family: 'GmarketSans'; font-size:30px; border-radius:20px; margin-top:10%;" value="로그인" class="btn"/>
			</td>
		</tr>
	</table>
</form>
</div>
</div>
</body>
</html>




