<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.project.mapper.FileUserMapper">
	
	<insert id="insertFileuser" parameterType="FileUserDto">
		INSERT INTO USERFILE
		VALUES(NULL,#{id},#{origin_filename},#{stored_filename})
	</insert>
	
	<select id="getFileInfo" parameterType="String" 
			resultType="fileUserDto">
		SELECT FILE_SEQ, ID, ORIGIN_FILENAME, STORED_FILENAME
		FROM USERFILE
		WHERE ID=#{id}
	</select>
</mapper>

	














