<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
</script>
<style type="text/css">
li {
	float: left;
}

ul {
	list-style: none;
}

.D1:hover {
	background-color: #90EE90;
	color: white;
	box-shadow: 5px 5px #ddd;
	/* 	border: solid 1px; */
	transition: all 0.3s;
	transform: translateY(-10px);
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<h1 style="font-family: 'GmarketSans';">진료과/의료진</h1>
		<hr style="border: solid 1px; color: black;" />
		<div>
			<ul style="margin-top: 100px; margin-left: 30px;">
				<li class="D1" 
					style="font-family: 'GmarketSans';box-shadow: 5px 5px; font-size: 35px; margin-left: 20px; line-height: 300px; text-align: center; width: 300px; height: 300px; border-radius: 15%; border: solid 1px;"><div>소화기내과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-left: 20px; line-height: 300px; width: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>피부과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>소아청소년과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>안과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>정형외과</div></li>
			</ul>
			<ul style="margin-left: 30px;">
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-top: 20px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>호흡기내과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-top: 20px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>이비인후과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-top: 20px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>치과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-top: 20px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>외과</div></li>
				<li class="D1"
					style="box-shadow: 5px 5px; font-family: 'GmarketSans'; font-size: 35px; margin-top: 20px; margin-left: 20px; width: 300px; line-height: 300px; text-align: center; height: 300px; border-radius: 15%; border: solid 1px;"><div>영상의학과</div></li>
			</ul>


		</div>

	</div>

</body>
</html>






